body{
    background-color: black;
}
#border{
position:relative;
margin: auto;
height: 560px;
width: 720px;
background-image: url(images/background.jpeg);
background-repeat: no-repeat;
background-size: 720px 560px;
overflow: hidden;
}

#player{

    position:absolute;
    height: 50px;
    width: 50px;
    background: url(images/character.png);
    background-size: 50px 50px;
    bottom: 0px;
    left: 50%;
}

.enemy{
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    background: url(images/zombie.png);
    background-size: 50px 50px;
    
}


.arrow{
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background: url(images/arrow.png);
    background-size: 50px 50px;
}
